{% extends "base.html" %}

{% block title %}Listado de libros{% endblock %}

{% block content %}
    <h1>Catálogo de la biblioteca</h1>
    
    <ul>
    {% for libro in book_list %}
        <li>{{libro.title}}</li>
    {% endfor %}
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">anterior</a>
                {% endif %}
                <span class="page-current">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">siguiente</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock%}
